.screen{
    background-color: var(--screen);
    width: 95%;
    min-height: 80px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-inline: 1rem;
    margin-inline: auto;
    overflow: hidden;
    border-radius: 5px;
}